@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareB.eot');
    src: url('NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareB.woff2') format('woff2'),
        url('NanumSquareB.woff') format('woff'),
        url('NanumSquareB.svg#NanumSquareB') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareL.eot');
    src: url('NanumSquareL.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareL.woff2') format('woff2'),
        url('NanumSquareL.woff') format('woff'),
        url('NanumSquareL.svg#NanumSquareL') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareEB.eot');
    src: url('NanumSquareEB.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareEB.woff2') format('woff2'),
        url('NanumSquareEB.woff') format('woff'),
        url('NanumSquareEB.svg#NanumSquareEB') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareR.eot');
    src: url('NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('NanumSquareR.woff2') format('woff2'),
        url('NanumSquareR.woff') format('woff'),
        url('NanumSquareR.svg#NanumSquareR') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

